<div class="container">
  <div class="jumbotron mt-3">
    <div class="row text-center">
      <div class="col-12">
        <h1>About Us</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <img [src]="ImagenHeroes" alt="ImagenesHeores" class="mt-2" />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="mt-4">
          Esta api, es una aplicación de superheroes, en la cual podrás ver
          tarjetas de los superheroes que existen hasta el momento, si
          seleccionas la tarjeta tendrás una descripcion más detalla sobre ese
          personaje con estadísticas, y para concluir se tiene un apartado para
          buscar a tu personaje favorito.
        </p>
      </div>
    </div>
  </div>
</div>
