
.cuadros {
  display: flex;
  flex-wrap: wrap;
  border-radius: 4%;
}

.card {
  margin: auto;
  height: 60vh;
  background: radial-gradient(
    circle,
    rgba(141, 214, 208, 1) 0%,
    rgba(131, 161, 203, 1) 100%
  );
}

.imagen {
  width: 90%;
  height: 70%;
  margin: 0% auto;
}

.boton {
  margin-left: 25%;
}

.footer {
  width: 100%;
  height: 10vh;
  background: linear-gradient(
    90deg,
    rgba(100, 59, 213, 1) 26%,
    rgba(97, 152, 221, 1) 49%,
    rgba(175, 191, 235, 1) 70%
  );
  margin-top: 3%;
}

.footer > .row > .col-4 > .imagen {
  width: 35px;
  height: 35px;
  margin-left: 55%;
  margin-top: 2%;
  cursor: pointer;
}

.footer > .row > .col-4 > p {
  color: #fff;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  /* margin-left: 10%; */
  margin-top: 3%;
}

img {
  width: 100%;
  height: 70%;
}

p {
  color: #fff;
  font-size: 25px;
  text-align: center;
}

